on:
  push:

jobs:
  push-to-monorepo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.TOKEN }}

      - name: Push to monorepo
        env:
          JOSH: ${{ secrets.JOSH }}
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          MONOREPO: bjeanes/monorepo-test
          SUBPATH: "sub-a"
        run: |
          BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          REMOTE_URL="${JOSH}/${MONOREPO}.git:/${SUBPATH}.git"

          set -xe

          git remote add mirror "$REMOTE_URL"

          # If there isn't a commit to checkout at the subpath of the monorepo we are pushing to,
          # then we want to instruct it to merge this tree into the monorepo with `-o merge`, but
          # we do not want to pass this option otherwise
          OPTIONS="$(git fetch mirror ${DEFAULT_BRANCH} &>/dev/null || echo -- '-o merge')"

          # always push main branch
          git push mirror "${GITHUB_REF}:${DEFAULT_BRANCH}" $OPTIONS
          
          if [ "$BRANCH_NAME" != "$DEFAULT_BRANCH" ]; then
            git push mirror HEAD:${BRANCH_NAME} -o base=${DEFAULT_BRANCH}
          fi
